.logo img {
    height:250px;
    width:250px;
    border-radius:100%;
    margin-top: 2em;
}

.adr{
    margin-top: 5em;
}

.test {
    height:500px;
}

.fb {
    font-size:35px;
}

.adresse {
    color: black;
    font-weight: bold;
    font-size:
}

.equipe{
    height:500px;
    width:900px;
}

.colbas{
    margin-top: 2em;
}

.team img{
    width:100%;

}
footer{
    bottom:0;
}
